@model KutuphaneTakip.Models.Kitap;
<p><b>Kitap Adı:</b> @Model.KitapAdi</p>
<p><b>Kitap Yazar:</b> @Model.KitapYazar</p>
<p><b>Kitap Türü:</b>@Model.KitapTur</p>
<p><b>Yayın Evi:</b> @Model.YayinEvi</p>
<form asp-controller="kitap" asp-action="silonay" method="post" asp-route-id="@Model.
KitapId">
    <button class="btn btn-danger">Sil</button>
</form>